<div class="form-inputs">
<div class="form-well well">
 <%= simple_form_for :campaign_invitation, url: campaign_invitations_path, method: :post, html: { multipart: true, class: 'form-horizontal' } do |f| %>
    <%= f.input :recipient_email, as: :string, label: "Player email", placeholder: "one at a time" %>
    <%= f.hidden_field :sender_id, value: @user.id %>
    <%= f.hidden_field :campaign_id, value: @campaign.id %>
    <div class="row" style="padding-top:15px;"><%= f.submit "Send Invitation", class: "btn btn-primary" %></div>
 <% end %>
 </div>
</div>