<div class="container-fluid well">
<h1><%= @character.name %></h1>

  <div class="row">
    <div class="col-sm-4">
      <div align="center">
        <b>STR
        <%= @character.ability_score_modifier(@character.strength) %></b>
        <p><%= @character.strength %></p>
      </div>
    </div>
    <div class="col-sm-4">
      <div align="center">
        <b>DEX
        <%= @character.ability_score_modifier(@character.dexterity) %></b>
        <p><%= @character.dexterity %></p>
      </div>
    </div>
    <div class="col-sm-4">
      <div align="center">
        <b>CON</b>
        <%= @character.ability_score_modifier(@character.constitution) %></b>
        <p><%= @character.constitution %></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div align="center">
        <b>INT
        <%= @character.ability_score_modifier(@character.intelligence) %></b>
        <p><%= @character.intelligence %></p>
      </div>
    </div>
    <div class="col-sm-4">
      <div align="center">
        <b>WIS
        <%= @character.ability_score_modifier(@character.wisdom) %></b>
        <p><%= @character.wisdom %></p>
      </div>
    </div>
    <div class="col-sm-4">
      <div align="center">
        <b>CHA
        <%= @character.ability_score_modifier(@character.charisma) %></b>
        <p><%= @character.charisma %></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <h3>Add <%= @character.name %> to a Campaign</h3>
    <%= render 'character_campaign_memberships/create_form' %>
  </div>
</div>