<h1><%= @campaign.name %></h1>
<h3><%= @campaign.description %></h3>
<h3>Next Session: <%= @campaign.next_session %></h3> 
<%= link_to("Campaign Notes", campaign_campaign_notes_path(@campaign)) %>
<% if @campaign.user_id == current_user.id %>
  <%= button_to("Edit Campaign", edit_campaign_path(@campaign), method: :get) %>
  <h3>Invite a new Player</h3>
  <%= render 'campaign_invitations/create_form' %>
  <h3>Take Notes</h3>
  <%= render 'campaign_notes/create_form' %>
<% end %>