<div class="container-fluid">
  <div class="row">
    <div class="col-xs-8">
      <h1><%= @campaign.name %></h1>
      <%= @campaign.description.html_safe %>
    </div>
    <div class="col-xs-4">
      <% if @campaign.users.pluck(:id).include? current_user.id %>
        <h1>Invite a new Player</h1>
        <%= render 'campaign_invitations/create_form' %>
      <% end %>
      <% if @campaign.game_master == current_user %>
        <%= link_to("Update Campaign", edit_campaign_path(@campaign), method: :get, class: "btn btn-default btn-lg active") %>
      <% end %>
    </div>
    <div class="col-xs-4">
      <h3>Next Session: <%= @campaign.next_session %></h3>
      <H3><%= @campaign.users.count %> Players</h3>
    </div>
  </div>
  <h3>Recent Notes</h3>
  <div class="row">
    <% @campaign.campaign_notes.first(3).each do |campaign_note| %>
    <div class="col-xs-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= campaign_note.name %></h3>
        </div>
        <div class="panel-body">
          <b><%= campaign_note.description %></b>
          <p><b>Session Date:</b> <%= campaign_note.session_date %></p>
          <p><%= link_to("View Notes", campaign_campaign_note_path(id: campaign_note.id, campaign_id: campaign_note.campaign_id), method: :get) %></p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <%= link_to("View All Notes", campaign_campaign_notes_path(@campaign)) %>
  <h3>Take Notes</h3>
  <%= render 'campaign_notes/create_form' %>
</div> 