<div class="container-fluid well">
  <div class="row">
    <div class="col-xs-8">
      <h1><%= @campaign.name %></h1>
      <%= @campaign.description.html_safe %>
    </div>
    <div class="col-xs-4">
      <% if @campaign.users.pluck(:id).include? current_user.id %>
        <h1>Invite a new Player</h1>
        <%= render 'campaign_invitations/create_form' %>
      <% end %>
      <% if @campaign.game_master == current_user %>
        <%= link_to("Update Campaign", edit_campaign_path(@campaign), method: :get, class: "btn btn-default btn-lg active") %>
      <% end %>
    </div>
    <div class="col-xs-4" style="float:right;">
      <h3>Next Session: <%= @campaign.next_session %></h3>
      <h3>Simulator URL: <%= link_to(@campaign.name, @campaign.simulator_url) %></h3>
    </div>
  </div>

  <% unless @campaign.characters.empty? %>
    <h3>Characters</h3>
      <% @campaign.characters.each_slice(3) do |characters| %>
        <div class="row">
          <% characters.each do |character| %>
          <div class="col-xs-4">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title"><%= character.name %></h3>
              </div>
              <div class="panel-body">
                <%= link_to 'Download Character', character_download_path(character_id: character.id), target: '_blank' %>
                 | <%= link_to 'Remove from Campaign', character_campaign_membership_path(character_id: character.id, campaign_id: @campaign.id), method: 'delete' %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <div class="row">
    <div class="col-xs-4">
      <h3>Add a Character</h3>
      <div class="form-inputs">
        <div class="form-well well">
          <%= simple_form_for :character_campaign_membership, url: character_campaign_memberships_path, method: :post, html: { multipart: true, class: 'form-horizontal' } do |f| %>
          <%= f.input :character_id, collection: @user.characters_not_playing(@campaign.id), required: :true %>
          <%= f.hidden_field :campaign_id, value: @campaign.id %>
          <div class="row" style="padding-top:15px;"><%= f.submit "Join Campaign", class: "btn btn-primary" %></div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <h3>Recent Notes</h3>
  <div class="row">
    <% @campaign.campaign_notes.order("session_date DESC").limit(3).each do |campaign_note| %>
    <div class="col-xs-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= campaign_note.name %></h3>
        </div>
        <div class="panel-body">
          <b><%= campaign_note.description %></b>
          <p><b>Session Date:</b> <%= campaign_note.session_date %></p>
          <p><%= link_to("View Notes", campaign_campaign_note_path(id: campaign_note.id, campaign_id: campaign_note.campaign_id), method: :get) %></p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <%= link_to("View All Notes", campaign_campaign_notes_path(@campaign)) %>
  <h3>Take Notes</h3>
  <%= render 'campaign_notes/create_form' %>
</div> 