<h1>Notes for <%= Campaign.find(params[:campaign_id]).name %></h1>
<div class="container well">
<% @campaign_notes.order("session_date DESC").each do |n| %>
  <div class="well">
    <b><%= n.name %></b>
    <p><%= n.session_date %></p>
    <p><%= n.description %></p>
    <p><%= button_to("Read notes", campaign_campaign_note_path(id: n.id), class: "btn btn-primary") %></p>
  </div>
<% end %>
</div>