<% if !flash[:notice].blank? %>
   <div class = "alert alert-info">
      <%= flash[:notice] %>
   </div>
<% end %>

<br />

<%= link_to "New XML File", new_user_xml_file_path(@user), class: "btn btn-primary" %>
<br />
<br />

<table class = "table table-bordered table-striped">
   <thead>
      <tr>
         <th>Name</th>
         <th>Download Link</th>
         <th> </th>
         <th> </th>
      </tr>
   </thead>

   <tbody>
      <% @xml_files.each do |xml_file| %>
         
         <tr>
            <td><%= xml_file.name %></td>
            <td><%= link_to "Download XML File", xml_file.attachment_url %></td>
            <td><%= button_to "Create Deck", user_pathfinder_decks_path(@user, xml_file.id, name: xml_file.name), method: :post %></td>
            <td><%= button_to "Delete", user_xml_file_url(@user, xml_file.id), method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{xml_file.name}?" %></td>
         </tr>
         
      <% end %>
   </tbody>
   
</table>

<table class = "table table-bordered table-striped">
   <thead>
      <tr>
         <th>Name</th>
         <th>Download Link</th>
         <th> </th>
      </tr>
   </thead>
   
   <tbody>
      <% @decks.each do |deck| %>
         
         <tr>
            <td><%= "#{deck.name}" %></td>
            <td><%= link_to "Download Deck", user_pathfinder_deck_download_path(@user, deck.id) %></td>
            <td><%= button_to "Delete Deck", user_pathfinder_deck_path(@user, deck.id), method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{deck.name}?" %></td>
         </tr>
         
      <% end %>
   </tbody>
   
</table>