<!DOCTYPE html>
<html>
   
   <head>
      <title>CampaignManager</title>
      <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
      <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
      <%= csrf_meta_tags %>
   </head>
   <%= render 'layouts/header' %>
   <body>
    <div class = "container">
      <% unless flash.empty? %>
        <% flash.each do |key, value| %>
          <div id="alert" class="alert alert-info">
            <a href="#" data-dismiss="alert" class="close">×</a>
            <ul>
              <li style="list-style-type: none;">
                <%= value.html_safe %>
              </li>
            </ul>
          </div>
       <% end %>
      <% end %>
      <div style="padding-top:15px">
        <% unless breadcrumbs.empty? %>
        <ol class="breadcrumb">
          <%= render_breadcrumbs :tag => :li, :separator => "" %>
        </ol>
      <% end %>
      </div>
       <%= yield %>
    </div>
   </body>
</html>